@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.animateGradient {
  animation: gradient 3s ease infinite;
  will-change: background-position;
}

@media (prefers-reduced-motion: reduce) {
  .animateGradient {
    animation: none;
  }
}
